<footer class="text-muted">
  <div class="container">
    <div class="row">
      <div class="d-flex justify-content-center">
        <!-- {% include copyright.html %} -->
        {{ site.title }}
      </div>
    </div>

    {% if site.data.social %}
      <div class="row">
        <div class="d-flex justify-content-center">
          {% include social.html %}
        </div>
      </div>
    {% endif %}

    {% if site.data.social %}
      <div class="row">
        <div class="d-flex justify-content-center">
          {{ site.description }}
        </div>
      </div>
    {% endif %}
  </div>
</footer>

